header{
	font-family: 'Fredericka the Great', cursive;
	background-repeat:no-repeat;
	background-image: url("image/weblayout.jpg");
	width: 100%;
	height:260px;
    text-align: center;
    color:black;
    font-size:80px;

}

nav{
    border-color:white;
    border-width: 5px;
  	background-color: white;
  	margin-top:3px;padding:2px 2px;
 }
nav ul{
	justify-content: space-around;
	font-family: 'Amatic SC', cursive;
	font-size:25px;
	display: inline-block;	
    padding-left: 11%;
	margin:0;
	text-decoration: none;
	color: blue;
}
nav ul a{padding:4px 4px;}
nav ul a:hover{
	background-color:#60783B; color:white;padding: 8px;
}
body{
	background-color: #60783B;
	font-color:purple;
}

img{border-radius: 400px;}

.box{width: 100%;display: flex;flex-direction: column;align-items: center}
  
.brief{	font-family: 'Arapey', serif;text-align: center;font-size: 18px;width:100%;	color:white;margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pb{background-color:#333333;color:white;text-align: center;margin-top:2px;border-bottom:2px;margin-right:150px;margin-left:150px; font-size: 30px;}

.bag{background-color:#bfbfbf;margin-right:150px;margin-left:150px;margin-bottom:0;
	padding:5px;display: flex;justify-content: center;}	

.cv{width:20%;}

.comp{width:20%;}

.cvb{ padding:1%;display: flex;flex-direction: column;}
.cvbb{padding: 1%;margin-right: 2px;margin-left: 2px; text-align: center; }

.components{padding:1%; display: flex;}

.site{font-family: 'Bungee Shade', cursive;color:white;content: "\263A";font-size:35px;
}

.blue{
	width:100%;display: flex;justify-content: center;font-family: 'Shadows Into Light Two', cursive;color: white;
}

.pie{display: flex;flex-direction: row;width: 100%;margin: 2px 2px;padding:50px;}
.pink{
	width:100%;display: flex; align-items:center;margin: 5px;}
.pink:hover{transform: scale(1.2); transition: transform .3s;
}
.about{padding-left: 5px;padding-right:5px;
	 margin-top:10px;text-align: center;border-color: white;
	 border-style: dotted; border-width: 5px;}


.intails{font-family: 'Waiting for the Sunrise', cursive;font-size: 25px;color:black;resize: horizontal;
    overflow: auto;}
 

.heatle{font-family: 'Chewy', cursive;font-size: 40px;color: black;}
.Location{display: flex;}
.mymap{width:55%;padding:1%; padding-top:40px;}
.details{width:41%;padding:1%;
		font-family: 'Shadows Into Light Two', cursive;color: white;
		margin-top: 40px;font-size: 20px;}

footer{
	background-image: url("image/wooden.jpg");
	height:80;
	text-align: center;
	padding: 1%;
	margin-top:10px;
	
}
@media screen and (max-width: 600px){
	.bag{flex-direction: column;}
	nav ul a{flex-direction: column;}
	.pie{flex-direction: column;}
	

}